
AuthName "Dialog prompt"
AuthType Basic

#If its a WordPress directory, add "ErrorDocument 401 default" - why? otherwise WP will send you to a 404.

# For just a file add <Files file.extension>
# For multifiles add <FilesMatch> - more info here: https://www.askapache.com/htaccess/using-filesmatch-and-files-in-htaccess/

#put the path to the .htpasswd you also added / are adding here, in the same folder
AuthUserFile /home/username/example.com/.htpasswd

Require valid-user
